<!--begin::Login Sign up form-->

<!--end::Login Sign up form-->



<!--begin::Login-->
<div class="login login-4 login-signin-on d-flex flex-row-fluid h-xxl-1000px"   id="kt_login">
  <div class="d-flex flex-center flex-row-fluid bgi-size-cover  bgi-position-top bgi-no-repeat" style="background-image: url('assets/media/bg/bg-3.jpg'); ">
    <div class="login-form text-center p-7 position-relative overflow-hidden">
      <!--begin::Login Header-->
      <div class="d-flex flex-center mb-15">
        <a href="#">
          <img src="assets/media/logos/logo-letter-13.png" class="max-h-75px" alt="" />
        </a>
      </div>
      <!--end::Login Header-->
      <div class="login-signup">
        <div class="mb-20">
          <h3>Sign Up</h3>
          <div class="text-muted font-weight-bold">Enter your details to create your account</div>
        </div>
        <form #signin="ngForm" (ngSubmit)="onsubmit(signin)" class="form" >
          <div class="form-group mb-5">
            <input class="form-control h-auto form-control-solid py-4 px-8" type="text" placeholder="First Name" name="fname" required ngModel />
          </div>
          <div class="form-group mb-5">
            <input class="form-control h-auto form-control-solid py-4 px-8" type="text" placeholder="Last Name" name="lname" required ngModel />
          </div>
          <div class="form-group mb-5">
            <input class="form-control h-auto form-control-solid py-4 px-8" type="email" placeholder="Email" name="email" autocomplete="off" required ngModel />
          </div>
          <div class="form-group mb-5">
            <input class="form-control h-auto form-control-solid py-4 px-8" type="number" placeholder="Phone Number" name="phone" autocomplete="off" required ngModel />
          </div>
          <div class="form-group mb-5">
            <input class="form-control h-auto form-control-solid py-4 px-8" type="password" placeholder="Password" name="password" required ngModel />
          </div>
          <div class="form-group mb-5 text-left">
            <div class="checkbox-inline">
              <label class="checkbox m-0">
                <input type="checkbox" name="agree" />
                <span></span>I Agree the
                <a href="#" class="font-weight-bold ml-1">terms and conditions</a>.</label>
            </div>
            <div class="form-text text-muted text-center"></div>
          </div>
          <div class="form-group d-flex flex-wrap flex-center mt-10">
            <button type="submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2">Sign Up</button>
            <button id="kt_login_signup_cancel" class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-2">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--end::Login-->
