<div class="container-fluid d-flex flex-wrap">
  <form #update="ngForm" (ngSubmit)="onsubmit(update)"  >
    <input class="form-control mt-2 mb-2-" type="text" name="host" placeholder="Host" [(ngModel)]="curent_data[0].host" ngModel required  >
    <input class="form-control w-1000px mt-2 mb-2-" type="password" name="newpass" placeholder="New Password" [(ngModel)]="curent_data[0].password" ngModel required> this password is always showing crypted
    <div>
      <input class="form-control w-1000px mt-2 mb-2-" type="password" name="userpass" placeholder="Your Account Password" ngModel required   >
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary font-weight-bold">Update</button>
    </div>
  </form>
</div>
