<div class="container-fluid d-flex flex-wrap">
<div   *ngFor="let pass of passords$ | async">
  <div class=" m-2 card">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title"> {{pass.host}}</h5>
      <p class="card-text">Password : {{pass.password}}</p>
      <a  (click)="delete(pass._id)"  class="btn btn-light-danger font-weight-bold ">Delete</a>
      <a (click)="setid(pass._id)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-light-primary font-weight-bold ml-2">Decode</a>
    </div>
  </div>

</div>
</div>




<div class="modal fade" id="exampleModalCenter" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Password for Decryption</h5>
        <button (click)="rest()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i aria-hidden="true" class="ki ki-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <div data-scroll="true" data-height="300">
          <form #decode="ngForm" (ngSubmit)="onsubmit(decode)"  >
          <input class="form-control" type="text" name="passid" [(ngModel)]="id" ngModel readonly  hidden >
          <input class="form-control mt-2 mb-2-" type="password" name="password" placeholder="Password" ngModel   >
            <div *ngIf="result.password">
              <p class=" mt-5 ml-2 mb-3 card-text">Decoded Password : {{result.password}}</p>
            </div>
          <div>
          </div>
          <div class="modal-footer">
            <button (click)="rest()" type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary font-weight-bold">Decode</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


